.form_content p {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* .form_section{
    background: linear-gradient(180deg,#ffffff,#d0d0d0);
} */

.form_content p{
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
}